@model IPSI.Services.Models.ViewModels.Company.CompanyListViewModel

@{
    ViewData["Title"] = "All Insurance Companies";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-area="Admin" asp-controller="Companies" asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Broker</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model.Companies)
        {
        <tr>
            <td>
                @company.Name
            </td>
            <td>
                @company.Broker
            </td>
            <td>
                <a class="btn btn-info" asp-area="Admin" asp-controller="Companies" asp-action="Details">Details</a> |
                <a class="btn btn-dark" asp-area="Admin" asp-controller="Companies" asp-action="Edit">Edit</a> |
                <a class="btn btn-danger" asp-area="Admin" asp-controller="Companies" asp-action="Delete">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
